.vscode/**
.vscode-test/**
out/**
**/node_modules/**
**/test-files/**
**/src/**
**/media-vue/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
